<div class="container">
<div class="panel-body">
  <div class="row">
    
  <!-- <div class=" col-md-9 col-lg-9 ">  -->
      <table class="table table-user-information" text="white">
        <tbody>
          <tr>
            <td>Name:</td>
            <td>{{data.name}}</td>
          </tr>
          <tr>
            <td>Blood Group</td>
            <td>{{data.details.bloodGroup}}</td>
          </tr>
        <tr>
            <td>Address</td>
            <td>{{data.details.address}}</td>
          </tr>
          <tr>
            <td>Email</td>
            <td>{{data.email}}</td>
          </tr>
          <tr>   
          <td>Phone Number</td>
            <td>{{data.details.contactNumber}}</td>
          </tr>
         
        </tbody>
      </table>
      <form *ngIf="editItemsForm">
        <h2>Edit Details</h2>
        <p>ID:
          <input type="text" name="name" [(ngModel)]="editedItems.name" />
        </p>
        <p>Blood Bank Name:
          <input type="text" name="bloodGroup" [(ngModel)]="editedItems.bloodGroup" />
        </p>
        <p>Branch:
          <input type="text" name="address" [(ngModel)]="editedItems.address" />
        </p>
        <p>Incharge:
          <input type="text" name="email" [(ngModel)]="editedItems.email" />
        </p>
        <p>
          <button type="button" class="btn btn-danger" (click)="updateItems(editedItems)">Submit</button>
          <button type="button" class="btn btn-danger" (click)="cancelEdits()">Cancel</button>
        </p>
      </form>
      
     
    <!-- </div> -->
  </div>
</div>
</div>
     <div class="panel-footer">
            <p class="text-center">www.bloodonor.com</p>
        </div>