<div class="container">
  <div class="row">
    <div class="jumbotron">
    
    
      <h1 class="panel-title">Super-Admin Panel</h1>
      
    </div>
    <div class="panel-heading"><h1 class="panel-title">Adul Wahab</h1></div>
    
  </div>
  <!-- <div class="row">

  </div> -->
  <!--/col-3-->
  <!-- <div class="col-sm-9"> -->

      <!-- <div class="tab-content"> -->
          
                <!-- <div class="tab-pane active" id="home"> -->
                  <!-- <div class="table-responsive"> -->
                  
                    
                      <router-outlet></router-outlet> 
                    <!--  </div> -->
                  
                
                <!-- </div>  -->
                <!--/tab-pane-->
              </div>
              <!--/tab-content-->
            <!-- </div> -->
            
                  <!-- </div>/table-resp -->
          
                
          
          
          
               
          