

    <div class="tab-content">

      <div class="tab-pane active" id="home">
        <!-- <div class="table-responsive"> -->
      
          <div class="col-md-12">
            <h1 class="panel-title">Manage Recievers</h1>
            <table class="table table-bordered">
              <thead>
                <tr>
                  <th class="text-center">ID</th>
                  <th class="text-center">Name</th>
                  <th class="text-center">Email</th>
                  <th class="text-center">Blood Group</th>
                  <th class="text-center">Address</th>

                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let item of data">
                  <td>{{ item._id }}</td>
                  <td>{{ item.name }}</td>
                  <td>{{ item.email }}</td>
                  <td>{{ item.details.bloodGroup}}
                    <td>{{ item.details.address}}
                      <div class="btnright">
                        <button class="itembutton" class="btn btn-danger" (click)="showEditItemsForm(item)">
              <i class="fa fa-edit"></i>
            </button>
                        <button class="itembutton" class="btn btn-danger" (click)="deleteItems(item)">
              <i class="fa fa-minus"></i>
            </button>
                      </div>
                    </td>
                </tr>
              </tbody>
            </table>

            <button class="btn btn-danger" (click)="showAddItemsForm()">
  <i class="fa fa-plus"></i> Add Reciever</button>
            <br />
            <br />

            <form *ngIf="itemsForm">
              <h2>Add New Branch</h2>
              <p>Name:
                <input type="text" name="Name" [(ngModel)]="newItems.name" />
              </p>
              <p>Email:
                <input type="text" name="Email" [(ngModel)]="newItems.email" />
              </p>
              <p>Password:
                <input type="text" name="Password" [(ngModel)]="newItems.password" />
              </p>
              <p>Blood Group:
                <input type="text" name="Blood Group" [(ngModel)]="newItems.details.bloodGroup" />
              </p>
              <p>Contact Number:
                <input type="text" name="Contact Number" [(ngModel)]="newItems.details.contactNumber" />
              </p>
              <p>Address:
                <textarea type="text" name="Address" [(ngModel)]="newItems.details.address"></textarea>
              </p>
              <p>
                <button type="button" class="btn btn-danger" (click)="addItems(newItems)">Submit</button>
                <button type="button" class="btn btn-danger" (click)="cancelNewItems()">Cancel</button>
              </p>
            </form>

            <form *ngIf="editItemsForm">
              <h2>Edit Details</h2>
              <p>Name:
                <input type="text" name="Name" [(ngModel)]="editedItems.name" />
              </p>
              <p>Email:
                <input type="text" name="Email" [(ngModel)]="editedItems.email" />
              </p>
              <p>Blood Group:
                <input type="text" name="Blood Group" [(ngModel)]="editedItems.details.bloodGroup" />
              </p>
              <p>Contact Number:
                <input type="text" name="Contact Number" [(ngModel)]="editedItems.details.contactNumber" />
              </p>
              <p>Address:
                <textarea type="text" name="Address" [(ngModel)]="editedItems.details.address"></textarea>
              </p>
              <p>
                <button type="button" class="btn btn-danger" (click)="updateItems(editedItems)">Submit</button>
                <button type="button" class="btn btn-danger" (click)="cancelEdits()">Cancel</button>
              </p>
            </form>

          </div>
          <!--/tab-pane-->
      
        <!--/tab-content-->

      </div>
      <!-- /col-9 -->
    </div>

    <!--/row-->